---
import * as interfaces from '../../lib/interfaces.ts'
import { isYouTubeURL, parseYouTubeVideoId } from '../../lib/blog-helpers.ts'
import Caption from './Caption.astro'

export interface Props {
  block: interfaces.Block
}

const { block } = Astro.props

let url: URL | null = null
const videoUrl = block.Video?.External?.Url || block.Video?.File?.Url
if (videoUrl) {
  try {
    url = new URL(videoUrl)
  } catch (err) {
    console.log('Invalid video URL:', videoUrl, err)
  }
}
---

{url ? (
  <div class="video">
    <div>
      {
        isYouTubeURL(url) && (
          <iframe
            src={`https://www.youtube.com/embed/${parseYouTubeVideoId(url)}`}
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          />
        )
      }
    </div>
    <Caption richTexts={block.Video?.Caption} />
  </div>
) : null}

<style>
  .video div:first-child {
    width: 100%;
  }
  .video div:first-child iframe {
    width: 100%;
    height: 340px;
  }
  @media (max-width: 640px) {
    .video div:first-child iframe {
      height: 220px;
    }
  }
</style>
