.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #94a3b8;
}

.token.namespace {
  opacity: 0.7;
}

.token.string,
.token.attr-value {
  color: #a3e635;
}

.token.punctuation {
  color: #e2e8f0;
}

.token.operator {
  color: #f59e0b;
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex {
  color: #f472b6;
}

.token.prefix.inserted {
  color: #22c55e;
}

.token.prefix.deleted {
  color: #f97316;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  color: #8b5cf6;
}

.token.function,
.language-autohotkey .token.tag {
  color: #38bdf8;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  color: #22d3ee;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
