---
import type { Block, Post } from '../lib/interfaces.ts'
import NotionBlocks from './NotionBlocks.astro'

export interface Props {
  blocks: Block[]
  post?: Post
  blockIdToFileMappings?: Record<string, any>
}

const { blocks, post, blockIdToFileMappings = {} } = Astro.props
---

<div class="post-body">
  <NotionBlocks blocks={blocks} isRoot={true} headings={[]} level={1} post={post} blockIdToFileMappings={blockIdToFileMappings} />
</div>

<style>
  .post-body {
    padding: 0.5rem 0;
  }
</style>
