---
export interface Props {
  readingTime: number
}

const { readingTime } = Astro.props
---

<div class="post-reading-time">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
    <circle cx="12" cy="12" r="10"></circle>
    <polyline points="12 6 12 12 16 14"></polyline>
  </svg>
  <span>{readingTime}分で読めます</span>
</div>

<style>
  .post-reading-time {
    padding: 0 0 0.3rem;
    font-size: 0.9rem;
    line-height: 1.5;
    display: inline-block;
    color: var(--accents-3);
  }
  
  .post-reading-time span {
    vertical-align: baseline;
  }
  
  .icon {
    width: 16px;
    height: 16px;
    margin-right: 0.3em;
    display: inline-block;
    vertical-align: text-bottom;
    position: relative;
    top: -1px;
  }
</style> 